h1{
    font-family:roboto;
    color:white;
    font-size: 45px;
    text-align:center;
    background-color:teal
    
}
h3{
    font-family:roboto;
    color: gray;
    font-size: 25px;
    background-color:black;
    text-align:center;
}
h4{
    font-family:roboto;
    color:white;
    font-size: 15px;
    text-align:center;
    background-color:teal
}
h2{
    text-align: center;
}